<!-- <div class="loadingWrapper" *ngIf="isloading"> 
    <div class="loader"></div>
  </div> -->
  
  <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Change-Password
        </span>

        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter old password">
          <input class="input100" type="password" [(ngModel)]="oldpassword" name="pass" placeholder="old password">
          <span class="focus-input100"></span>
        </div>
        
        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter new password">
          <input class="input100" type="password" [(ngModel)]="password" name="pass" placeholder="new password">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-25" data-validate = "Re-Enter password">
            <input class="input100" type="password" [(ngModel)]="repassword" name="pass" placeholder="re-enter new password">
            <span class="focus-input100"></span>
          </div>
  
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="changePassword()">
            Change Password
          </button>
        </div>  
        <div class="text-center" *ngIf="changed=='success'"><p class="text-success">Password Changed successfully</p></div>
        <div class="text-center" *ngIf="changed=='oldNotMatch'"><p class="text-danger">Old Password not matched</p></div>
        <div class="text-center" *ngIf="changed=='sameAsOld'"><p class="text-danger">New Password Same As old Password</p></div>
        <div class="text-center" *ngIf="changed=='passwordMatch'"><p class="text-danger">Password Don't Match</p></div>
        <div class="text-center" *ngIf="changed=='details'"><p class="text-danger"><i><h6>Please enter proper details</h6></i></p></div>
        <br>
      </form>
    </div>
  </div>