<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="jumbotron bg-transparent text-center"> 
  <div *ngIf="!loggedIn" class="card text-center"> 
  <h6 class="card-header">Social Login</h6> 
  <div class="card-block"> 
   <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()">
   <span class="fa fa-google"></span>
   </button> 
  </div> 
  <div class="card-block"> 
    <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()">
    <span class="fa fa-google"></span>
    </button> 
   </div> 
  <div *ngIf="loggedIn" class="card text-center"> 
  <h6 class="card-header"> Social Login Demo </h6> 
  <div class="card-block">
  </div> 
  <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}"> 
  <div class="card-block"> 
  <h4 class="card-title">{{ user.name }}</h4> 
  <p class="card-text">{{ user.email }}</p> 
  </div> 
  <div class="card-block"> 
  <button class="btn btn-danger" (click)="signOut()">Sign out</button> </div> 
  </div>
  </div>